/bibliotecaapp/__pycache__/*

/apps/usuario/__pycache__/*
/apps/usuario/migrations/*
/apps/usuario/__pycache__/*
/apps/usuario/migrations/*

/apps/autor/__pycache__/*
/apps/autor/migrations/*

/apps/editora/__pycache__/*
/apps/editora/migrations/*

/apps/biblioteca/__pycache__/*
/apps/biblioteca/migrations/*

/apps/funcionario/__pycache__/*
/apps/funcionario/migrations/*

/apps/emprestimo/__pycache__/*
/apps/emprestimo/migrations/*

/apps/exemplar/__pycache__/*
/apps/exemplar/migrations/*

/apps/livro/__pycache__/*
/apps/livro/migrations/*

#**/migrations/
#*.pyc
#__pycache__/